body{
    margin:0;
    /* overflow-y: hidden; */
}
.container{
    display: flex;
    height:800px;
    width:100%;
    /* overflow-y: hidden; */
}
.content{
    background-color: #EFEFEF;
    flex-grow: 2;
    overflow-y: scroll;
    overflow-x: hidden;
}
.side-content{
    background-color: #EFEFEF;
    transition: all .5s;
    flex-grow: 1;
    width:50%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.section{
    height:20%;
    position: relative;
    background-color: #233256;
}
.section:hover{
    background-color:rgb(1, 14, 43);
    animation-duration: 1s;
}
.img-content{
    height:80%;
    width:100%;
    /* position: absolute; */
}
.img-content:hover{
    opacity: 0.3;
}
.section-img{
    position: relative;
    background-color: black;
}
.img-svg{
    position: absolute;
}
.text{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
}
.svg-logo{
    position: absolute; 
    font-weight: 1px; 
    font-size: 1px; 
}
.logo{
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translateX(50%) scale(0.5,0.5);
}
.nav{
    display:flex;
    background-color: #EFEFEF;
    margin-top:10px;
    padding: 0;
}
.nav-section{
    height: 80px;
    flex-grow:1;
    padding:20px;
    border-left-style: solid;
    border-width:1px;
    /* border-bottom-style:solid ; */
    border-color:rgb(192,192,192);
    text-transform: capitalize;
}
.nav-items{
    text-align: center;
    text-transform: capitalize;
    color: #233256;
}
.developer{
    display:inline-block;
    float: right;
    padding-right: 1%;
}
.copyright{
    display: inline-block;
    padding-left: 1%;
}
footer{
    border-top-style: solid;
    border-width:1px;
    margin-top: 10px;
    border-color:rgb(220,220,220);
}
h1{
    text-align: center;
}
#hype-text{
    display: none;
}


